<div id="content">

    <h1 id="title">Islands</h1>
  
    <!-- drag slider -->
    <div id="planes">
  
      <div class="plane-wrapper">
        <span class="plane-title">Bahamas</span>
        <div class="plane">
          <img src="/resources/1.jpg" alt="Photo by Gregory Culmer on Unsplash" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Philippines</span>
        <div class="plane">
          <img src="/resources/2.jpg" alt="Photo by James Connolly on Unsplash" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Indonesia</span>
        <div class="plane">
          <img src="/resources/3.jpg" alt="Photo by sutirta budiman on Unsplash" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Maldives</span>
        <div class="plane">
          <img src="/resources/4.jpg" alt="Photo by Jailam Rashad on Unsplash" crossorigin />
        </div>
      </div>

  
    </div>
  
    <div id="drag-tip">
      Drag to explore
    </div>
  
  
  </div>