<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Islands</title>
  <link rel="stylesheet" href="/css/islands.css">
</head>
<body>
<div id="content">

    <h1 id="title">ANIME</h1>
  
    <!-- drag slider -->
    <div id="planes">
  
      <div class="plane-wrapper">
        <span class="plane-title">Simple</span>
        <div class="plane">
          <img src="/resources/1a.jpg" alt="Dress-up Darling" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Perfect</span>
        <div class="plane">
          <img src="/resources/2a.jpg" alt="Kimetsu no Yaiba" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Interesting</span>
        <div class="plane">
          <img src="/resources/3a.jpg" alt="Jujutsu Kaisen" crossorigin />
        </div>
      </div>
  
      <div class="plane-wrapper">
        <span class="plane-title">Different</span>
        <div class="plane">
          <img src="/resources/4a.jpg" alt="Kimetsu no Yaiba" crossorigin />
        </div>
      </div>

      <div class="plane-wrapper">
        <span class="plane-title">Nonsense</span>
        <div class="plane">
          <img src="/resources/5a.jpg" alt="One Piece" crossorigin />
        </div>
      </div>

      <div class="plane-wrapper">
        <span class="plane-title">Words</span>
        <div class="plane">
          <img src="/resources/6a.jpg" alt="One Piece" crossorigin />
        </div>
      </div>

      <div class="plane-wrapper">
        <span class="plane-title">Just</span>
        <div class="plane">
          <img src="/resources/7a.jpg" alt="Violet Evergarden" crossorigin />
        </div>
      </div>

    </div>
  
    <div id="drag-tip">
      Drag to explore
    </div>
  
  
  </div>

  <script src="/js/slider.js"></script>
</body>